body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  color: #1B1C1B; }

textarea:focus {
  outline: 0; }

input:focus {
  outline: 0; }

a {
  color: #434542;
  text-decoration: none; }
  a:hover {
    color: #1B1C1B; }

button {
  cursor: pointer;
  margin: auto;
  background: #E89500;
  border: 0;
  font-family: "Roboto Slab", serif;
  color: #FCFCFC;
  font-weight: bold;
  font-size: 11pt;
  padding: 10px 20px; }
  button:hover {
    background: #E8A430; }
  button:active {
    background: #A86C00; }

.main_content {
  margin-top: 80px;
  padding: 20px 0;
  background: #F0F0F0; }

#landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("/img/landing.jpeg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%; }

.nav {
  border-bottom: 2px solid #E89500;
  height: 80px;
  line-height: 80px;
  width: 100%;
  background: #FCFCFC;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0; }

@media only screen and (max-width: 1168px) {
  #landing {
    background-size: 1168px; } }

#nav_logo {
  height: 80px;
  margin-top: 3px; }
  #nav_logo img {
    height: 20px; }

#nav_main {
  padding: 0 50px;
  font-weight: 800; }

#nav_auth {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 80px !important;
  margin-left: auto; }
  #nav_auth a {
    padding: 0 10px; }

#showlogin {
  color: #434542;
  padding: 0 10px;
  cursor: pointer; }
  #showlogin:hover {
    color: #1B1C1B; }

.highlight {
  text-decoration: underline; }

.active {
  position: relative;
  background: #FCFCFC; }
  .active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(73, 110, 49, 0);
    border-top-color: #FCFCFC;
    border-width: 10px;
    margin-left: -10px;
    z-index: 99999; }
  .active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(73, 110, 49, 0);
    border-top-color: #E89500;
    border-width: 13px;
    margin-left: -13px;
    z-index: 99998; }

#login_box {
  border-top: 2px solid #E89500;
  display: none;
  top: 80px;
  position: absolute;
  background: #E2E2E2;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  right: 0;
  color: #434542; }
  #login_box form {
    margin: 25px 35px; }
    #login_box form input {
      background: #FCFCFC;
      border: 0;
      padding: 5px 5px;
      margin-bottom: 5px; }
    #login_box form .checkbox {
      margin-bottom: 5px; }

#landing_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#landing_title {
  padding: 50px 0; }
  #landing_title h1 {
    font-size: 60pt;
    font-weight: 800;
    color: #FCFCFC;
    text-shadow: 2px 2px #434542; }
  #landing_title p {
    font-family: "Open Sans", sans-serif;
    color: #434542; }

#landing_search {
  color: #FCFCFC;
  background: rgba(27, 28, 27, 0.8);
  padding: 35px; }

.search_button {
  width: 125px;
  margin: auto;
  margin-left: 20px; }

#search_box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: "Open Sans", sans-serif; }
  #search_box p {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    margin: 0 20px; }
    #search_box p:first-child {
      margin-left: 0; }
  #search_box input {
    line-height: 16px;
    font-size: 16px;
    width: 100px;
    background: 0;
    border: 3px solid #FCFCFC;
    padding: 15px 15px;
    color: #FCFCFC;
    font-weight: bold; }
    #search_box input:focus {
      border-color: #E89500; }
  #search_box button {
    font-size: 14pt;
    padding: 15px 30px; }

::-webkit-input-placeholder {
  color: #E2E2E2;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold; }

:-moz-placeholder {
  color: #E2E2E2;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold; }

::-moz-placeholder {
  color: #E2E2E2;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold; }

:-ms-input-placeholder {
  color: #E2E2E2;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold; }

#register_box {
  margin-top: 50px; }
  #register_box form {
    font-family: "Open Sans", sans-serif; }
    #register_box form label {
      display: block;
      margin-bottom: 5px; }
    #register_box form input {
      max-width: 490px;
      font-family: "Open Sans", sans-serif;
      width: 100%;
      padding: 10px;
      border: 0;
      margin-bottom: 20px; }
    #register_box form button {
      margin-top: 5px; }

.col {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.col-25 {
  width: 25%; }

.col-50 {
  width: 50%; }

.col-65 {
  width: 65%; }

.centered {
  margin: auto; }

/*# sourceMappingURL=app.css.map */
