// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Fonts
$accent: "Roboto Slab", serif
$main: "Open Sans", sans-serif

//Colors
$green: #496E31
$yellow: #E89500
$dark: #1B1C1B
$less_dark: #434542
$less_light: #F0F0F0
$light: #FCFCFC

body
    font-family: $accent
    margin:0
    padding:0
    width:100%
    height:2000px
    color:$dark
    
a
    color: $less_dark
    text-decoration: none
    &:hover
        color:$dark
    
button
    cursor: pointer
    margin: auto
    background:$yellow
    border:0
    font-family:$accent
    color:$light
    font-weight: bold
    font-size:11pt
    padding:10px 20px
    &:hover
        background:#E8A430
    &:active
        background:#A86C00

.main_content
    margin-top: 60px
    padding: 100px 0
    background: $less_light

#landing
    position: relative
    height:100vh
    width: 100%
    background: url('/img/landing.jpeg')
    background-position: bottom center
    background-repeat: no-repeat
    background-size: 100% 

.nav
    height:60px
    line-height:60px
    width:100%
    background:$light
    position: fixed
    z-index:9999
    top:0
    left:0

@media only screen and (max-width: 1168px)
    #landing 
        background-size: 1168px


#nav_logo
    vertical-align: middle
    margin-top:1px
    img
        height:20px
        
#nav_main
    padding: 0 50px
    font-weight:800

#nav_auth
    display: flex
    position: relative
    margin-left: auto
    a
        padding: 0 10px

#showlogin
    color:$less_dark
    padding: 0 10px
    cursor: pointer
    &:hover
        color: $dark

#login_box
    display: none
    top: 60px
    position: absolute
    background: #E2E2E2
    font-family: $main
    line-height: 25px
    right:0
    color: $less_dark
    form
        margin:25px 35px
        input
            background:$light
            border: 0
            padding: 5px 5px
            margin-bottom: 5px
        .checkbox
            margin-bottom: 5px

#landing_content
    position: absolute
    top:50%
    left:50%
    transform: translate(-50%, -50%)

#landing_title
    padding:50px 0
    h1
        font-size: 60pt
        font-weight:800
        color:$light
        text-shadow: 2px 2px $less_dark
    p
        font-family: $main
        color: $less_dark
        
#landing_search
    color:$light
    background: rgba(27,28,27,0.8)
    padding:50px
    
.search_button
    width:125px
    margin: auto
    margin-left: 20px
        
#search_box
    display: flex
    align-items: baseline
    font-family: $main
    p
        font-weight: bold
        margin:0
        white-space: nowrap
        margin: 0 20px
        &:first-child
            margin-left:0
    input
        line-height:16px
        font-size: 16px
        width:100px
        background:0
        border: 3px solid $light
        padding: 15px 15px
        color:$light
        font-weight: bold
    button
        font-size:14pt
        padding:15px 30px

@mixin placeholder 
    ::-webkit-input-placeholder 
        @content
    :-moz-placeholder           
        @content
    ::-moz-placeholder          
        @content
    :-ms-input-placeholder      
        @content  

@include placeholder
    color: #E2E2E2
    font-family: $main !important
    font-weight: bold
    
#register_box
    h1
        margin-top: 0
    form
        font-family: $main
        label
            display: block
            margin-bottom: 5px
        input
            max-width: 490px
            font-family: $main
            width: 100%
            padding: 10px
            border: 0
            margin-bottom: 20px
        button
            margin-top:5px

    
//////////////////////////////////////Cols//////////////////////////////////////////

.col
    height: auto
    display: flex
.col-25  
    width:25%
    
.col-50
    width: 50%
        
.col-65
    width:65%

.centered
    margin: auto